<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Breads(Browse, Read, Edit, Add, Delete, Sort)</title>
    <link rel="stylesheet" href="/stylesheets/todo.css" />
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css" />
    <script>
        let executorid = '<%= userid %>'
    </script>


</head>

<body>
    <div class="box">
        <div class="title-todo">
            <h2>Todo List</h2>
        </div>
        <div class="boxBody">
            <div class="firstline">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="insert your title" class="bytitle" />
            </div>
            <div class="secondline">
                <label for="deadline">Deadline</label>
                <input type="date" name="startdate" class="bydate" />
                <p>s.d.</p>
                <input type="date" name="enddate" class="bydate" />
            </div>
            <div class="thirdline">
                <label for="complete">Complete</label>
                <select name="complete" class="bycomplete">
                    <option selected>-select complete-</option>
                    <option value="0">Not Yet</option>
                    <option value="1">Done</option>
                </select>
            </div>
            <div class="forthline">
                <div class="subforthline">
                    <a class="sortingbyname"><i class="fa-solid fa-sort" style="color: #ffffff;"></i> sort by
                        deadline</a>
                </div>
                <div class="tdsBtn">
                    <button class="ref-tds" type="button"><i class="fa-solid fa-arrows-rotate"
                            style="color: #000000;"></i></button>
                    <button class="src-tds" type="submit"><i class="fa-solid fa-magnifying-glass"
                            style="color: #000000;"></i></button>
                </div>
            </div>
            <div class="addTitle">
                <input type="texy" id="title" name="title" placeholder="insert your title" class="formTitle" />
                <a class="saveBtn"><i class="fa-solid fa-circle-down" style="color: #0091ff;"></i></a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>