<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Breads(Browse, Read, Edit, Add, Delete, Sort)</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css" />
    <script src="javascripts/user.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h2>MongoDB Breads(Browse, Read, Edit, Add, Delete, Sort)</h2>
        </header>
        <div class="container-body">
            <div class="form-entries">
                <div class="entires-data">
                    <form>
                        <span>show</span>
                        <select class="select-opt" id="limit" type="text" onchange="limitData()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="0">all</option>
                        </select>
                        <span>entries</span>
                    </form>
                </div>
                <div class="byname">
                    <input type="text" name="name" placeholder="search" class="search-form" oninput="searchName()" id="searchName"/>
                    <button class="src-btn" type="submit" onmouseover="transColor('#eaeaea')" onmouseout="transColor('#919191')" onclick="searchName()"><i class="fa-solid fa-magnifying-glass"
                            style="color: #919191;"></i></button>
                    <button class="ref-btn" type="button" onmouseover="changeColor('#ffffff')" onmouseout="changeColor('#FFD43B')" onclick="reset()"><i class="fa-solid fa-arrows-rotate"
                            style="color: #FFD43B;"></i></button>   
                </div>
            </div>

            <div class="list-user">
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th id="sort-name"><a onclick="sortNameAsc('name')"><i class="fa-solid fa-sort" style="color: #000000;"></i> Name</th>
                            <th id="sort-phone"><a onclick="sortPhoneAsc('phone')"><i class="fa-solid fa-sort" style="color: #000000;"></i> Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="bodytable" class="bodytable">

                    </tbody>
                </table>
            </div>
        </div>
        <footer>
            <div class="foot" id="foot">
                <button class="add-btn" id="addButton" type="button" onclick="onAdd()">+</button>
                <div id="pagination-container" class="basket-pagi">
                </div>
            </div>
        </footer>
    </div>

    <!-- Modals delete and update -->

    <div id="notification-delete" class="notification-delete">
        <div class="popupDelete">
            <div class="delete-header">
                <p>Delete Confirmation</p>
                <p onclick="cancleDelete()">&times;</p>
            </div>
            <div class="delete-body">
                <p class="asking">Are you sure?</p>
            </div>
            <div class="delete-footer">
                <span class="btn-no" onclick="cancleDelete()">No</span>
                <a id="btn-yes" class="btn-yes" href="#" onclick="deleteData()">Yes</a>
            </div>
        </div>
    </div>

    <div id="notification-form" class="notification-form">
        <div class="modals-form">
            <div class="popup-form">
                <div class="form-header">
                    <p>User form</p>
                    <p onclick="cancleform()">&times;</p>
                </div>
                <div class="form-body">
                    <div class="form-name">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="input-name" required>
                    </div>
                    <div class="form-number">
                        <label for="number">Phone</label>
                        <input type="tel" id="phone" class="input-number" required>
                    </div>
                </div>
                <div class="form-footer">
                    <span class="btn-cancle" onclick="cancleform()">No</span>
                    <a id="btn-sub" class="btn-sub" href="#" onclick="saveData()">Save changes</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function setActionsButtons(_id) {
        return `
                <button class="btnAd" onclick="onUpdate('${_id}')"><i class="fa-solid fa-pencil" style="color: #ffffff;"></i></button>
                <button class="btnDel" onclick="onDelete('${_id}')"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                <a href="/users/${_id}/todos" class="btnTodos"><i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a>
            `;
    }

</script>
<script src="javascripts/user.js"></script>

<script>
    function changeColor(color) {
    document.querySelector('.ref-btn i').style.color = color;
  }
</script>

<script>
    function transColor(color) {
    document.querySelector('.src-btn i').style.color = color;
  }
</script>


</html>