<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Breads(Browse, Read, Edit, Add, Delete, Sort)</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css" />
    <script src="javascripts/user.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h2>MongoDB Breads(Browse, Read, Edit, Add, Delete, Sort)</h2>
        </header>
        <div class="container-body">
            <div class="form-entries">
                <div class="entires-data">
                    <form>
                        <span>show</span>
                        <select class="select-opt">
                            <option>5</option>
                            <option>10</option>
                            <option>all</option>
                        </select>
                        <span>entries</span>
                    </form>
                </div>
                <div class="byname">
                    <input type="text" name="name" placeholder="search" class="search-form" value="" />
                        <button class="src-btn" type="submit"><i class="fa-solid fa-magnifying-glass"
                                style="color: #919191;"></i></button>
                        <button class="ref-btn" type="button"><i class="fa-solid fa-arrows-rotate"
                                style="color: #FFD43B;"></i></button>
                </div>
            </div>

            <div class="list-user">
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th><i class="fa-solid fa-sort"></i> Name</th>
                            <th><i class="fa-solid fa-sort"></i> Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="bodytable" class="bodytable">

                    </tbody>
                </table>
            </div>
        </div>
        <footer>
            <div class="foot">
                <button class="add-btn" id="addButton" type="button">+</button>
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a class="active" href="#">1</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </footer>
    </div>

    <!-- Modals delete and update -->

    <div id="notification-delete" class="notification-delete">
        <div class="popupDelete">
            <div class="delete-header">
                <p>Delete Confirmation</p>
                <p onclick="cancleDelete()">X</p>
            </div>
            <div class="delete-body">
                <p class="asking">Are you sure?</p>
            </div>
            <div class="delete-footer">
                <span class="btn-no" onclick="cancleDelete()">No</span>
                <a id="btn-yes" class="btn-yes" href="#" onclick="deleteData()">Yes</a>
            </div>
        </div>
    </div>

    <div id="notification-update" class="notification-update">
        <div class="modals-update">
            <div class="popup-update">
                <div class="update-header">
                    <p>User form</p>
                    <p onclick="cancleUpdate()">X</p>
                </div>
                <div class="update-body">
                    <div class="form-name">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="input-name" required>
                    </div>
                    <div class="form-number">
                        <label for="number">Phone</label>
                        <input type="tel" id="phone" class="input-number" required>
                    </div>
                </div>
                <div class="update-footer">
                    <span class="btn-cancle" onclick="cancleUpdate()">No</span>
                    <a id="btn-sub" class="btn-yes" href="#">Save changes</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function setActionsButtons(_id) {
        return `
                <button class="btnAd" onclick="editUser('${_id}')"><i class="fa-solid fa-pencil" style="color: #ffffff;"></i></button>
                <button class="btnDel" onclick="onDelete('${_id}')"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
            `;
    }
</script>
<script src="javascripts/user.js"></script>

</html>