body {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #eaeaea;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #eaeaea;
}

.form-entries {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.entires-data {
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 15%;
  border: 1px solid #d3d3d3;
}

.select-opt {
  height: 40px;
  background-color: white;
  border-style: solid;
  border: 1px solid white;
  font-size: medium;
  cursor: pointer;
}

.byname {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.search-form {
  padding: 7px;
  border-radius: 8px;
  border-style: solid;
  border-color: #eaeaea;
  width: 90%;
  font-size: medium;
}


.src-btn {
  padding: 7px 14px;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-color: #cfcfcf;
  margin-left: 1px;
  cursor: pointer;
}

.src-btn:hover {
background-color: rgb(194, 194, 194);
}

.ref-btn {
  padding: 7px 14px;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-color: #FFD43B;
  margin-left: 1px;
  cursor: pointer;
}

.ref-btn:hover {
 background-color: #FFD43B;
}

.add-btn {
  padding: 7px 13px;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  background: rgb(6, 160, 222);
  color: #eaeaea;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}

.add-btn:hover {
  background-color: rgb(4, 74, 101);
}

.container-body {
  background-color: white;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.foot {
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.basket-pagi {
  padding-left: 20Px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.basket-pagi a {
  color: rgb(51, 190, 244);
  font-weight: bold;
  float: left;
  padding: 7px 9px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid rgb(240, 240, 240);
  background-color: #ffffff;
  cursor: pointer;
}

.pagination-btn {
  color: rgb(51, 190, 244);
  font-weight: bold;
  float: left;
  padding: 7px 9px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid rgb(240, 240, 240);
  background-color: #ffffff;
  cursor: pointer;
}

.basket-pagi a.active {
  background-color: #2696FE;
  color: white;
  border: 1px solid #2696FE;
}

.pagination-btn:hover:not(.active) {
  background-color: #ddd;
}

.pagination-btn:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.pagination-btn:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#pagination-container:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 5px;
}

#pagination-container:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 5px;
}

/* notif delete */

#notification-delete {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.294);
  z-index: 2;
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.popupDelete {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  width: 35%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;

}

.delete-body {
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;

}

.asking {
  margin-left: 10px;
}

.delete-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.btn-no {
  background-color: grey;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.btn-no:hover {
  background-color: rgb(69, 69, 69);
}

.btn-yes {
  background-color: rgb(37, 37, 255);
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.btn-yes:hover {
  background-color: rgb(20, 20, 151);
}

/* notif update */

#notification-form {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.294);
  z-index: 2;
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.modals-form {
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

.popup-form {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  width: 35%;
  margin-top: 30px;
}

.form-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;

}

.form-body {
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;

}

.form-name {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.input-name {
  padding: 7px;
  width: 70%;
  border-radius: 8px;
  border-style: solid;
}

.form-number {
  margin: 10px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.input-number {
  padding: 7px;
  width: 70%;
  border-radius: 8px;
  border-style: solid;
}

.form-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.btn-cancle {
  background-color: grey;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.btn-cancle:hover {
  background-color: rgb(69, 69, 69);
}

.btn-sub {
  background-color: rgb(37, 37, 255);
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.btn-sub:hover {
  background-color: rgb(20, 20, 151);
}

.btnAd {
  padding: 8px 10px;
  background-color: green;
  border-radius: 8px;
  border-style: solid;
  margin-left: 1px;
  border-color: green;
  cursor: pointer;

}

.btnAd:hover {
  background-color: rgb(5, 71, 5);
  border-color: rgb(5, 71, 5);
  cursor: pointer;
}

.btnDel {
  padding: 8px 10px;
  background-color: red;
  border-radius: 8px;
  border-style: solid;
  margin-left: 1px;
  border-color: red;
  cursor: pointer;
}

.btnDel:hover {
  background-color: rgb(143, 7, 7);
  border-color: rgb(143, 7, 7);
  cursor: pointer;
}

.btnTodos {
  padding: 6px 8px;
  background-color: rgb(252, 219, 35);
  border-radius: 8px;
  border-style: solid;
  margin-left: 1px;
  border-color: rgb(252, 219, 35);
  cursor: pointer;
}

.btnTodos:hover {
  background-color: rgb(133, 116, 19);
  border-color: rgb(133, 116, 19);
}