body {
    display: flex;
    justify-content: center;
}

.box {
    width: 80%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    background-color: #eaeaea;
}

.title-todo {
    display: flex;
    justify-content: center;
}

.boxBody {
    background-color: white;
    padding-top: 10px;
}

.firstline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bytitle {
    padding: 6px;
    border-radius: 8px;
    width: 80%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;

}

.secondline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bydate {
    padding: 6px;
    border-radius: 8px;
    width: 26%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
}

.thirdline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bycomplete {
    padding: 6px;
    border-radius: 8px;
    width: 81.4%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
    background-color: transparent;

}

.forthline {
    background-color: aqua;
}

/* .src-btn {
    padding: 7px 14px;
    background-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    margin-left: 1px;
}

.ref-btn {
    padding: 7px 14px;
    background-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-color: #FFD43B;
    margin-left: 1px;
} */

/* .container-body {
    background-color: white;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
} */


/* .formTitle {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}


.bytitle {
    padding: 7px;
    border-radius: 8px;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
}
 */

.formTitle {
    display: flex;
    justify-content: space-between;
}