body {
    display: flex;
    justify-content: center;
}

.box {
    width: 80%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    background-color: #eaeaea;
}

.title-todo {
    display: flex;
    justify-content: center;
}

.boxBody {
    background-color: white;
    padding-top: 10px;
}

.firstline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bytitle {
    padding: 6px;
    border-radius: 8px;
    width: 80%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;

}

.secondline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bydate {
    padding: 6px;
    border-radius: 8px;
    width: 26%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
}

.thirdline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.bycomplete {
    padding: 6px;
    border-radius: 8px;
    width: 81.4%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
    background-color: transparent;
}

.forthline {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 10px;
}

.subforthline {
    background-color: rgb(15, 117, 15);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    border-radius: 8px;
    color: white;
}

.src-tds {
    padding: 7px 14px;
    background-color: rgb(4, 223, 223);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(4, 223, 223);
    margin-left: 1px;
    cursor: pointer;
}

.src-tds:hover {
    background-color: rgb(0, 150, 150);
    border-color: rgb(0, 150, 150);
}

.ref-tds {
    padding: 7px 14px;
    background-color: #FFD43B;
    border-radius: 8px;
    border-style: solid;
    border-color: #FFD43B;
    margin-left: 1px;
    cursor: pointer;
}

.ref-tds:hover {
    background-color: #8a6c00;
    border-color: #8a6c00;
}

.addTitle {
    background-color: #eaeaea;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTitle {
    padding: 6px;
    border-radius: 8px;
    width: 93%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;

}

.saveBtn {
    padding: 5px 6px;
    border: 1px solid #0091ff;
    border-radius: 5px;
    cursor: pointer;
}


/* .container-body {
    background-color: white;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
} */


/* .formTitle {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}


.bytitle {
    padding: 7px;
    border-radius: 8px;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
}


.formTitle {
    display: flex;
    justify-content: space-between;
}