body {
    display: flex;
    justify-content: center;
}

.box {
    width: 80%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    background-color: #eaeaea;
}

.title-todo {
    display: flex;
    justify-content: center;
}

.boxBody {
    background-color: white;
    padding-top: 10px;
}

.firstline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bytitle {
    padding: 6px;
    border-radius: 8px;
    width: 80%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;

}

.secondline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bydate {
    padding: 6px;
    border-radius: 8px;
    width: 26%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
}

.thirdline {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.bycomplete {
    padding: 6px;
    border-radius: 8px;
    width: 81.4%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;
    background-color: transparent;
}

.forthline {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 10px;
}

/* .subforthline {
    background-color: rgb(15, 117, 15);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    border-radius: 8px;
    color: white;
} */

.sortingbydeadline {
    background-color: rgb(15, 117, 15);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    border-radius: 8px;
    color: white;
    height: 35px;
    border-style: solid;
    border-color: rgb(15, 117, 15);
    cursor: pointer;
}

.sortingbydeadline:hover {
    border-color: rgb(7, 69, 7);
    background-color: rgb(7, 69, 7);
}

.src-tds {
    padding: 8px 14px;
    background-color: rgb(4, 223, 223);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(4, 223, 223);
    margin-left: 1px;
    cursor: pointer;
}

.src-tds:hover {
    background-color: rgb(0, 150, 150);
    border-color: rgb(0, 150, 150);
}

.ref-tds {
    padding: 8px 14px;
    background-color: #FFD43B;
    border-radius: 8px;
    border-style: solid;
    border-color: #FFD43B;
    margin-left: 1px;
    cursor: pointer;
}

.ref-tds:hover {
    background-color: #8a6c00;
    border-color: #8a6c00;
}

.addTitle {
    background-color: #eaeaea;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.formTitle {
    padding: 6px;
    border-radius: 8px;
    width: 93%;
    border-style: solid;
    border-color: #eaeaea;
    font-size: medium;

}

.saveBtn {
    padding: 5px 6px;
    border: 1px solid #0091ff;
    border-radius: 5px;
    cursor: pointer;
}


.show-todos {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.show-todos.redClr {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.show-todos.greenClr {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.show-todos.greyClr {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    color: #636c72;
}

/* modals delete */

#todos-deleteModal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.294);
    z-index: 2;
    backdrop-filter: blur(2px);
    cursor: pointer;
  }
  
  .popupDelete {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(230, 230, 230);
    width: 35%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .delete-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  
  .delete-body {
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  
  }
  
  .asking {
    margin-left: 10px;
  }
  
  .delete-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .btn-no {
    background-color: grey;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .btn-no:hover {
    background-color: rgb(69, 69, 69);
  }
  
  .btn-yes {
    background-color: rgb(37, 37, 255);
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .btn-yes:hover {
    background-color: rgb(20, 20, 151);
  }

  .fa-solid {
    cursor: pointer;
  }

  /* modals update */

  #todos-formModal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.294);
    z-index: 2;
    backdrop-filter: blur(2px);
    cursor: pointer;
  }
  
  .modals-form {
    display: flex;
    justify-content: center;
    align-items: first baseline;
  }
  
  .popup-form {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(230, 230, 230);
    width: 35%;
    margin-top: 30px;
  }
  
  .form-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  
  .form-body {
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  
  }
  
  .form-title {
    margin: 20px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .input-title {
    padding: 7px;
    width: 70%;
    border-radius: 8px;
    border-style: solid;
  }
  
  .form-deadline {
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .input-date {
    padding: 7px;
    width: 70%;
    border-radius: 8px;
    border-style: solid;
  }

  .form-noted {
    background-color: #155724;
  }
  
  .form-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .btn-cancle {
    background-color: grey;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .btn-cancle:hover {
    background-color: rgb(69, 69, 69);
  }
  
  .btn-sub {
    background-color: rgb(37, 37, 255);
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .btn-sub:hover {
    background-color: rgb(20, 20, 151);
  }